
@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_LayoutOIT.cshtml";
}
<style>
    .smooshed {
        background: url("/COnfluence/Content/images/mountainScape.jpg")no-repeat center center fixed;
        background-size: cover;
    }
</style>
<div id="applicationCats" class="marketing">
    <div class="sections">
        <div><h1 id="PSheader" style="text-align:center; color:#5c666f;font-size:50px;">Application Services</h1></div>
        <div class="row">
            <div class="col-lg-3">
                <h2>Application Development</h2>
                <p>Discover, Design, Develop, Test, and Deployment of GIS web mapping applications.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#devFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#devCollapseOne">AGILE</a></li>
                    <li class="list-group-item"><a href="#devFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#devCollapseTwo">Requests and Intake</a></li>
                    <li class="list-group-item"><a href="#devFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#devCollapseThree">Development</a></li>
                    <li class="list-group-item"><a href="Hosting">Hosting Applications</a></li>
                    <li class="list-group-item"><a href="#requestModal" title="Request Service" data-toggle="modal" data-target="#requestModal" data-placement="auto bottom">Make a Request</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h2>Application Maintenance</h2>
                <p>Application management delivers a stable production environment , the updating of legacy applications, and the creation of new functionality.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#maintFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#maintCollapseOne">Legacy Maintenance</a></li>
                    <li class="list-group-item"><a href="#maintFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#maintCollapseTwo">Data Maintenance</a></li>
                    <li class="list-group-item"><a href="#maintFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#maintCollapseThree">Application Integration</a></li>
                    <li class="list-group-item"><a href="#requestModal" title="Request Service" data-toggle="modal" data-target="#requestModal" data-placement="auto bottom">Make a Request</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h2>Development Support</h2>
                <p>Development support includes providing 3rd party developers data access and deployment guidance to ensure a successful delivery.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#supportFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#supportCollapseOne">Design Analysis</a></li>
                    <li class="list-group-item"><a href="#supportFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#supportCollapseTwo">Procurement Support</a></li>
                    <li class="list-group-item"><a href="#supportFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#supportCollapseThree">Development Platform</a></li>
                    <li class="list-group-item"><a href="#requestModal" title="Request Service" data-toggle="modal" data-target="#requestModal" data-placement="auto bottom">Make a Request</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h2>GCDP's Applications</h2>
                <p>GCDP is maintaining multiple applications from various State Agencies in the State of Colorado.</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#appsFeaturette" data-toggle="collapse" aria-expanded="true" data-target="#appsCollapseOne">GCDP Applications Hosted</a></li>
                </ul>
            </div>
        </div>

        <!-- START THE FEATURETTES -->
    </div>
    <hr class="featurette-divider">
    <div class="sections">
        <h1 class="featurette-heading" style="text-align:center">How We Can Assist State Agencies</h1>
        <div id="devFeaturette" class="row featurette">
            <div>
                <h3 class="featurette-heading">Application Development. <span class="text-muted">What you need to know.</span></h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="list-group-item oit-green-background">
                            APPLICATION DEVELOPMENT
                            <a href="#requestModal" title="Request Service" data-toggle="modal" data-target="#requestModal" data-placement="auto bottom">
                                <span class="loglyphs glyphicon glyphicon-comment" aria-hidden="true" style="float:right; padding-right:5px;" title="Make a Request"> </span>
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="devHeadingOne">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#devCollapseOne" aria-expanded="false" aria-controls="devCollapseOne">
                                    AGILE
                                </a>
                            </h4>
                        </div>
                        <div id="devCollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="devHeadingOne">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">AGILE <text style="padding-left: 10px;font-style:italic;">--Applications created by GCDP utilize an iterative, AGILE approach.  This allows for GCDP to be flexible and adaptative to adjust to the needs of the State Agency.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="devHeadingTwo">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#devCollapseTwo" aria-expanded="false" aria-controls="devCollapseTwo">
                                    Requests and Intake
                                </a>
                            </h4>
                        </div>
                        <div id="devCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="devHeadingTwo">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">Requests and Intake <text style="padding-left: 10px;font-style:italic;">--Due to the amount of work GCDP currently has, there is a necessity to adhere to current obligations to other State Agencies.  Contact GCDP to discuss the scope of your project to determine a reasonable timeline.</text></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="devHeadingThree">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#devCollapseThree" aria-expanded="false" aria-controls="devCollapseThree">
                                    Development
                                </a>
                            </h4>
                        </div>
                        <div id="devCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="devHeadingThree">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">HTTPS <text style="padding-left: 10px;font-style:italic;">--GCDP can create custom GIS web mapping applications utilizing multiple API's (e.g. ESRI Javascript, Leaflet, ect).  GCDP can also create simple ArcGIS Online applications and ESRI StoryMaps. <a href="">Click here</a> to view applications hosted by GCDP.</text></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="sections">
        <div id="maintFeaturette" class="row featurette">
            <div>
                <h3 class="featurette-heading">Application Maintenance. <span class="text-muted">What you need to know.</span></h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="list-group-item oit-green-background">
                            APPLICATION MAINTENANCE
                            <a href="#requestModal" title="Request Service" data-toggle="modal" data-target="#requestModal" data-placement="auto bottom">
                                <span class="loglyphs glyphicon glyphicon-comment" aria-hidden="true" style="float:right; padding-right:5px;" title="Make a Request"> </span>
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="maintHeadingOne">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#maintCollapseOne" aria-expanded="false" aria-controls="maintCollapseOne">
                                    Legacy Maintenance
                                </a>
                            </h4>
                        </div>
                        <div id="maintCollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="maintHeadingOne">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">AGILE <text style="padding-left: 10px;font-style:italic;">--As part of hosting applications created by GCDP or by a vendor, GCDP will provide support with existing functionality and possible future enhancements to the current system. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="maintHeadingTwo">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#maintCollapseTwo" aria-expanded="false" aria-controls="maintCollapseTwo">
                                    Data Maintenance
                                </a>
                            </h4>
                        </div>
                        <div id="maintCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="maintHeadingTwo">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">Data Maintenance <text style="padding-left: 10px;font-style:italic;">--GCDP will provide support to existing databases, including SDE, Mapservices, and SQL databases required by your GIS application.</text></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="maintHeadingThree">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#maintCollapseThree" aria-expanded="false" aria-controls="maintCollapseThree">
                                    Application Integration
                                </a>
                            </h4>
                        </div>
                        <div id="maintCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="maintHeadingThree">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">Application Integration <text style="padding-left: 10px;font-style:italic;">--GCDP can provide support integrating legacy databases or workflows into new GIS web mapping applications.  This may include things such as consuming an existing SQL database for Map Services or Feature Services for a new mapping application.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="sections">
        <div id="supportFeaturette" class="row featurette">
            <div>
                <h3 class="featurette-heading">Development Support. <span class="text-muted">What you need to know.</span></h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div href="#" class="list-group-item oit-green-background">
                            DEVELOPMENT SUPPORT
                            <a href="#requestModal" title="Request Service" data-toggle="modal" data-target="#requestModal" data-placement="auto bottom">
                                <span class="loglyphs glyphicon glyphicon-comment" aria-hidden="true" style="float:right; padding-right:5px;" title="Make a Request"> </span>
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="supportHeadingOne">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#supportCollapseOne" aria-expanded="false" aria-controls="supportCollapseOne">
                                    Design Analysis
                                </a>
                            </h4>
                        </div>
                        <div id="supportCollapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingOne">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">Design Analysis<text style="padding-left: 10px;font-style:italic;">--GCDP can help review designs proposed by vendors, or assist in guiding in direction of the types of functionality to request from vendors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="supportHeadingTwo">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#supportCollapseTwo" aria-expanded="false" aria-controls="supportCollapseTwo">
                                    Procurement Support
                                </a>
                            </h4>
                        </div>
                        <div id="supportCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingTwo">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">Procurement Support<text style="padding-left: 10px;font-style:italic;">--GCDP can assist in the vendor process.</text></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="supportHeadingThree">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#supportCollapseThree" aria-expanded="false" aria-controls="supportCollapseThree">
                                    Development Platform
                                </a>
                            </h4>
                        </div>
                        <div id="supportCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingThree">
                            <div class="list-group">
                                <ul class="list-group">
                                    <li class="list-group-item">Development Platform<text style="padding-left: 10px;font-style:italic;">--GCDP can provide a stable environment for your organization or vendor developing a database or application for your needs.  GCDP can also assist in the creation and maintenance of required databases and mapservices for your developer.</text></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="sections">
        <div id="appsFeaturette" class="row featurette">
            <div>
                <h3 class="featurette-heading">State of Colorado Applications. <span class="text-muted">See what agencies GCDP is supporting!</span></h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="list-group-item oit-green-background">
                            GCDP HOSTED APPLICATIONS
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="list-group">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://gis.colorado.gov/Atlas" target="_blank">Atlas</a><text style="padding-left: 10px;font-style:italic;">--Colorado State Land Board</li>
                                <li class="list-group-item"><a href="https://gis.colorado.gov/Cartopac" target="_blank">Cartopac</a><text style="padding-left: 10px;font-style:italic;">--Colorado State Land Board</li>
                                <li class="list-group-item"><a href="https://gis.colorado.gov/BroadbandViewer/?viewer=Map" target="_blank">Colorado Broadband Map</a> <text style="padding-left: 10px;font-style:italic;">--OIT's Broadband Map showing broadband coverage in the State of Colorado.  Assisting communities achieve their broadband goals.</li>
                                <li class="list-group-item"><a href="https://gis.colorado.gov/SpeedTest" target="_blank">Colorado Broadband Speed Test</a> <text style="padding-left: 10px;font-style:italic;">--OIT's speed test application.  Check your broadband speeds!</li>
                                <li class="list-group-item"><a href="https://gis.colorado.gov/OpenPetroleum" target="_blank">Open Petroleum Events</a> <text style="padding-left: 10px;font-style:italic;">--Colorado Department of Labor and Employment.</li>
                                <li class="list-group-item"><a href="https://www.readycolorado.com/hazard-map" target="_blank">Colorado Hazards Map</a> <text style="padding-left: 10px;font-style:italic;">--Colorado Department of Public Safety</li>
                                <li class="list-group-item"><a href="https://gis.colorado.gov/Compass" target="_blank">Compass</a> <text style="padding-left: 10px;font-style:italic;">--History Colorado.</li>
                                <li class="list-group-item"><a href="https://www.colorado.gov/pacific/energyoffice/energy-educated-realtors%C2%AE" target="_blank">Energy Educated REALTORS</a> <text style="padding-left: 10px;font-style:italic;">- Colorado Energy Office</li>
                                <li class="list-group-item"><a href="https://gis.colorado.gov/Trustlands" target="_blank">Trustlands</a> <text style="padding-left: 10px;font-style:italic;">--Colorado State Land Board</li>
                                <li class="list-group-item"><a href="https://gis.colorado.gov/InfraCoord" target="_blank">CRWG - Infrastructure Coordinator</a> <text style="padding-left: 10px;font-style:italic;">--Colorado Resiliency Working Group</li>
                                <li class="list-group-item"><a href="https://maps.co.gov/COFloodRecovery" target="_blank">Colorado Flood Recovery - Story Map</a> <text style="padding-left: 10px;font-style:italic;">--Resiliency and Recovery Office</li>
                                <li class="list-group-item"><a href="https://geodata.co.gov/" target="_blank">Colorado GeoData Cache</a> <text style="padding-left: 10px;font-style:italic;">--OIT's Free Lidar Distribution</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
