
@{
    Layout = "~/Views/Shared/_LayoutOIT.cshtml";
    ViewBag.Title = "About";

}
<div class="container-fluid">
    <ul class="nav nav-tabs centered responsive" id="myTab" role="tablist" style="margin-top:50px;">
        <li role="presentation" class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#Vision" role="tab">Vision</a></li>
        <li role="presentation"><a class="nav-link" data-toggle="tab" href="#Team" role="tab">Team</a></li>
        <li role="presentation"><a class="nav-link" data-toggle="tab" href="#Events" role="tab">Event Calendar</a></li>
    </ul>
    <!-- Introduction Row -->
    <div class="tab-content responsive">
        <div class="tab-pane active" id="Vision" role="tabpanel" style="margin-top:50px;">
            <div class="row custom" style="margin-bottom:20px;">
                <div class="col-md-4">
                    <h1 class="animateText" style="text-align:right;"><b>We Are</b></h1>
                </div>
                <div class="col-md-8">
                    <b class="animateSpan">
                        <span1 class="textGroup">
                            Enterprise Dataset Stewards<br />
                            GIS Application Developers<br />
                            Outreach Coordinators<br />
                            GIS Innovators<br />
                            Leading by Example
                        </span1>
                    </b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-center">
                </div>
                <div class="col-xs-2 text-center">
                    <a class="">
                        <img class="img-circle img-responsive center-block" src="/Content/images/GIS_Summit23.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-2 text-center">
                    <a class="">
                        <img class="img-circle img-responsive center-block" src="/Content/images/fieldCol02.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-2 text-center">
                    <a class="">
                        <img class="img-circle img-responsive center-block" src="/Content/images/GIS_Summit21.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-2 text-center">
                    <a class="">
                        <img class="img-circle img-responsive center-block" src="/Content/images/fieldCol03.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row" style="margin-bottom:20px;margin-top:50px;">
                <div class="col-md-4">
                    <h1 style="text-align:right;">
                        <b style="color:#d0d2d3;">Our</b><br />
                        <b style="color:#00953a;">Vision</b>
                        <!--<small>It's Nice to Meet You!</small>-->
                    </h1>
                </div>
                <div class="col-md-6">
                    <p><i>We realize the full value of geographic information systems by making access to comprehensive data, including broadband service data, seamless and formatted in a way that maximizes its benefit to decision-making in the state. We are a place where Coloradans can gain answers and expertise about GIS and its possibilities in order to expand the value of these technologies as efficiently and effectively as possible, and we are the facilitator of a robust GIS community where knowledge and information is shared freely</i></p>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-4">
                    <h1 style="text-align:right;">
                        <b style="color:#d0d2d3;">Our</b><br />
                        <b style="color:#00953a;">Objectives</b>
                        <!--<small>It's Nice to Meet You!</small>-->
                    </h1>
                </div>
                <div class="col-md-6">
                    <ul class="bullet">
                        <li><p>Get data in one place, and secondarily make state data open and accessible unless it contains PII, security sensitive or proprietary information</p></li>
                        <li><p>Organize data necessary for critical applications: emergency management, economic development, law enforcement, transportation, information and technology management, environmental management, water resources</p></li>
                        <li><p>Reduce the cost and overhead for data sharing</p></li>
                        <li><p>Maximize the utility and value of data</p></li>
                        <li><p>Enhance and support GIS use among state and local entities</p></li>
                        <li><p>Increase data governance maturity</p></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-4">
                    <h1 style="text-align:right;">
                        <b style="color:#d0d2d3;">Guiding</b><br />
                        <b style="color:#00953a;">Principles</b>
                        <!--<small>It's Nice to Meet You!</small>-->
                    </h1>
                </div>
                <div class="col-md-6">
                    <ul class="bullet">
                        <li><p>Create or ask for data once, use it many times</p></li>
                        <li><p>While potentially slower in the short term, collaboration is cheaper in the long term</p></li>
                        <li><p>The value of data increases with use</p></li>
                        <li><p>Where not restricted by privacy, security or proprietary (eg. data license) considerations, data should be open</p></li>
                        <li><p>More eyes on or more use of data, may demonstrate applications not thought of previously</p></li>
                        <li><p>Coordination should not hinder work of state agencies and should bring value to agencies’ work</p></li>
                    </ul>
                </div>
            </div>
            <!-------------------------------------------Team Members Row ------------------------------------------------------------------->
            <!-------------------------------------------CDO------------------------------------------------------------------->
        </div>
        <div class="tab-pane" id="Team" role="tabpanel" style="margin-top:50px;">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team Lead</h2>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <img class="img-circle img-responsive" src="/Content/images/team/jonProf.jpg" alt="" style="float:right">
                </div>
                <div class="col-lg-5 text-left">
                    <h3>
                        <b style="color:#00953a;">Jon</b> <b style="color:#d0d2d3;">Gottsegen</b>
                    </h3>
                    <h5>
                        <b>CHIEF DATA OFFICER</b>
                        <a class="btn btn-social-icon btn-twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a class="btn btn-social-icon">
                            <span class="fa fa-envelope"></span>
                        </a>
                    </h5>
                    <p>Responsible for managing an interdepartment data protocol fostering enterprise wide data sharing and governance and furthering the state's open data efforts; managing statewide GIS coordination to make state geographic data discoverable and accessible; and support state agencies' GIS efforts</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <!-------------------------------------------Team  Row ------------------------------------------------------------------->
            <div class="col-lg-12">
                <h2 class="page-header">Our GIS Team Members</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="/Content/images/team/kassProf.jpg" alt="">
                    <h3>
                        <b style="color:#00953a;">Kassrah</b> <b style="color:#d0d2d3;">Rezagholi</b>
                    </h3>
                    <h5>
                        <b>SENIOR GIS ANALYST</b>
                    </h5>
                    <p>Leads Development and maintenance of GIS applications for state agencies & OIT; Supports web services</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="/Content/images/team/jimProf.jpg" alt="">
                    <h3>
                        <b style="color:#00953a;">Jim</b> <b style="color:#d0d2d3;">Snyder</b>
                    </h3>
                    <h5>
                        <b>SENIOR GIS ANALYST</b>
                    </h5>
                    <p>Operational management; Outreach coordination; Support economic development; Manage GeoData Cache; Support emergency management</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="/Content/images/team/windyProf.jpg" alt="">
                    <h3>
                        <b style="color:#00953a;">Windy</b> <b style="color:#d0d2d3;">Fischer-Cherenzia</b>
                    </h3>
                    <h5>
                        <b>SENIOR GIS ANALYST</b>
                    </h5>
                    <p>Maintains enterprise & OIT databases; Leads statewide address stewardship; Supports resiliency workgroups; Local outreach; Assists with application development</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="/Content/images/team/rickProf.jpg" alt="" style="height:200px; width:200px">
                        <h3>
                            <b style="color:#00953a;">Rick</b> <b style="color:#d0d2d3;">Corsi</b>
                        </h3>
                        <h5>
                            <b>SENIOR GIS ANALYST</b>
                        </h5>
                        <p>Primary outreach coordinator to local, state, and federal entities; Assists in the collection of data through outreach efforts</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="/Content/images/team/tonyProf.jpg" alt="">
                        <h3>
                            <b style="color:#00953a;">Tony </b> <b style="color:#d0d2d3;">Filipiak</b>
                        </h3>
                        <h5>
                            <b>GIS ANALYST</b>
                        </h5>
                        <p>Parcel data steward; Broadband Lead; Outreach coordination; Support Economic Development; Assist with collection and coordination of other enterprise datasets</p>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="/Content/images/team/brentProf.png" alt="">
                        <h3>
                            <b style="color:#00953a;">Brent</b> <b style="color:#d0d2d3;">Seiferd</b>
                        </h3>
                        <h5>
                            <b>GIS TECHNICIAN</b>
                        </h5>
                        <p>Collect and process broadband data; Assists with data processing and analysis as necessary for enterprise datasets; Assists with LiDAR collection</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="/Content/images/team/fletchProf.jpg" alt="">
                        <h3>
                            <b style="color:#00953a;">Fletcher</b> <b style="color:#d0d2d3;">Johnson</b>
                        </h3>
                        <h5>
                            <b>GIS TECHNICIAN</b>
                        </h5>
                        <p>CAI Data Steward; Collect and process broadband data; Collect and process address data for the State; Assists in technical duties related to position</p>
                    </div>

                </div>
            </div>
        </div>
        <!--------------------------------------------------------------------Events Calendar--------------------------------------------------------------------------------->
        <div class="tab-pane" id="Events" role="tabpanel" style="margin-top:50px;">
            <div class="clockDiv">
                <div class="col-lg-12 text-center">
                    <h1 style="color:#d1b400;">SUMMIT 2017 COMING IN MAY</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom:20px;">
                    <h1 style="margin-top:50px;">See What's Coming Up!</h1>
                </div>
                <div class="col-lg-6 col-sm-6 text-center">
                    <h2 style="color:#00953a">Upcoming/Recent Events & Details</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="eventHeadingOne">
                                <h4 class="panel-title">
                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#eventCollapseOne" aria-expanded="false" aria-controls="eventCollapseOne">
                                        3rd Annual GIS Data Coordination Summit
                                    </a>
                                </h4>
                            </div>
                            <div id="eventCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="eventHeadingOne">
                                <div class="list-group">
                                    <h5><b>Event Details</b></h5>
                                    <p>Location: <a href="http://stonebrookmanor.com/">STONEBROOK MANOR, EVENT CENTER & GARDENS </a></p>
                                    <p>Date: Completed on June 7th, 2017</p>
                                    <p>Slides: <a href="https://drive.google.com/drive/folders/0B2Kxom2ITONWTUF6VTJyUWl0dDg" target="_blank">Download Here</a></p>
                                    <p>Additional Details: <a href="http://www.youtube.com/watch?v=O7iCGws5EY4&t=2m37s" target="_blank">Event Recording</a></p>
                                    <!--<p><div class="text-center"><a href="https://goo.gl/forms/TTQnO61CFhBAQ4e33" class="btn btn-primary" role="button">Register Now </a></div></p>-->
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="supportHeadingThree">
                                <h4 class="panel-title">
                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#supportCollapseThree" aria-expanded="true" aria-controls="supportCollapseThree">
                                        GIS Coordination & Development Program Data Call
                                    </a>
                                </h4>
                            </div>
                            <div id="supportCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingThree">
                                <div class="list-group">
                                    <h5><b>EVENT DETAILS</b></h5>
                                    <p>Location:</p>
                                    <p>GIS Coordination & Development Program in coordination with DRCOG</p>
                                    <p>Date:</p>
                                    <p>Jan 3-Feb 28, 2017</p>
                                    <p>Agenda:</p>
                                    <p>We are asking all counties, agencies. and local municipalities to contribute data to the state for aggregation. These data sets include: Buildings and landmarks, boundaries, transportation, recreation and connections, and land ownership and use</p>
                                    <p>Additional Details:</p>
                                    <p>Data can be uploaded to the <a href="https://gisftp02.state.co.us/" target="_blank"><b>Colorado GeoData Pass</b></a> and the <a href="http://dataportal.drcog.org/" target="_blank"><b>DRCOG Data Portal</b></a></p>
                                </div>
                            </div>
                        </div>
                        <!-- Top of Summit Line in Events accordian-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="supportHeadingTwo">
                                <h4 class="panel-title">
                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#supportCollapseTwo" aria-expanded="false" aria-controls="supportCollapseTwo">
                                        GCDP Broadband Team at Mountain Connect 2017 Conference
                                    </a>
                                </h4>
                            </div>
                            <div id="supportCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supportHeadingTwo">
                                <div class="list-group">
                                    <h5><b>EVENT DETAILS</b></h5>
                                    <p>Location: Keystone Resort & Conference Center</p>
                                    <p>Date: May 22-23</p>
                                    <p>Agenda : <a href="http://mountainconnect.org/2017-conference/2017-agenda/" target="_blank">Find Complete Agenda and Schedule Here</a></p>
                                    <p>Topics: </p>
                                    <p>All things wireless</p>
                                    <p>Community Development 1</p>
                                    <p>Community Development 2</p>
                                    <p>Smart City</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 text-center">
                    <h2 style="color:#00953a">GCDP Annual Calendar</h2>
                    <div class="thumbnail">
                        <div class="responsiveCal">
                            <iframe id="teamCal" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=state.co.us_mto6ml7naber3ip5nuia798lvs%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FDenver" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <!--Previous Events and their content-->
            <div class="text-center" style="margin-bottom:50px;">
                <h1>What You Missed!</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-left">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/Content/images/GISSummit29.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">2016 GIS Data Coordination Summit</h4>
                            <p>In June, we held our second annual GIS Coordination Summit. The agenda consisted of providing updates on our progress over the previous fiscal year; and gathering feedback for FY17 strategic and tactical objectives for our growing team. Slides, photos, and a video are available.</p>
                            <br />
                            <a class="my-tool-tip" href="#" title="Photos" data-toggle="modal" data-target="#picturesSummit" data-placement="auto bottom" style="padding-right:5px;"><span class="glyphicon glyphicon-picture"></span></a>
                            <a class="my-tool-tip" href="/Content/images/pdfs/GIS_summit_2016.pdf" target="_blank" title="Slides" data-toggle="tooltip" data-placement="auto bottom" style="padding-right:5px;"><span class="glyphicon glyphicon-blackboard"></span></a>
                            <a class="my-tool-tip" href="https://www.youtube.com/watch?v=KZOQNOJ1Zsg" target="_blank" title="Video" data-toggle="tooltip" data-placement="auto bottom" style="padding-right:5px;"><span class="glyphicon glyphicon-film"></span></a>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/Content/images/fieldThumb.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Field Data Collection Apps Testing</h4>
                            <p>A number of our stakeholders have inquired about appropriate and simple field data collection solutions. Our team took the opportunity to investigate and test a few mobile apps in the field and provide feedback.</p>
                            <br />
                            <a class="my-tool-tip" href="fieldCollection2016picturepopup.html" title="Photos" data-toggle="tooltip" data-placement="auto bottom" style="padding-right:5px;"><span class="glyphicon glyphicon-picture"></span></a>
                            <a class="my-tool-tip" href="/Content/images/pdfs/Data_Collection_App_Slides.pdf" target="_blank" title="Slides" data-toggle="tooltip" data-placement="auto bottom" style="padding-right:5px;"><span class="glyphicon glyphicon-blackboard"></span></a>
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-film"></span></a>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="/Content/images/quartCall.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Quarterly Call Updates</h4>
                            <p>In November, we held our Quarterly Call. The phone-in event consisted of providing updates to our stakeholders regarding our FY17 plan and ongoing data collection efforts.</p>
                            <br />
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-picture"></span></a>
                            <a class="my-tool-tip" href="~/Content/images/pdfs/OIT_Presentation.pdf" target="_blank" title="Slides" data-toggle="tooltip" data-placement="auto bottom" style="padding-right:5px;"><span class="glyphicon glyphicon-blackboard"></span></a>
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-film"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 text-left">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="~/Content/images/IMGL2681.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">GIS Broadband Team at Mountain Connect</h4>
                            <p>A few of our team members participated in the Mountain Connect Broadband Development Conference so as to provide a visible State representation in the ongoing broadband data collection efforts across the state. We look forward to next year!</p>
                            <br />
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-picture"></span></a>
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-blackboard"></span></a>
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-film"></span></a>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="~/Content/images/westSumm.jpg" style="width:200px;height:200px;" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Western Colorado Summit</h4>
                            <p>Since not all of our stakeholders could travel down to the front range for our Summit in June, we conducted a condensed Summit for our stakeholders on the Western Slope. The slide presentation is the same as the "2016 GIS Data Coordination Summit".</p>
                            <br />
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-picture"></span></a>
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-blackboard"></span></a>
                            <a style="padding-right:5px;"><span class="gray glyphicon glyphicon-film"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

