<div class="modal-header modal-oit-text">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title " id="requestLabel">Contact Us</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group form-group-lg">
            <label class="col-sm-6 control-label" for="nameRequest">GCDP Contact Name: </label>
            <label class="col-sm-6 control-label" for="nameRequest" style="text-align:left;">Jim Snyder</label>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-6 control-label" for="orgRequest">GCDP Contact Number: </label>
            <label class="col-sm-6 control-label" for="orgRequest" style="text-align:left;">303-764-7804</label>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-6 control-label" for="orgRequest">Contact Email: </label>
            <label class="col-sm-6 control-label" for="orgRequest" style="text-align:left;">jim.snyder@state.co.us</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
